---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=1&method=chart.getTopTracks&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tracks":{"track":[{"name":"Manchild","duration":"0","playcount":"6386483","listeners":"631942","mbid":"","url":"https://www.last.fm/music/Sabrina+Carpenter/_/Manchild","streamable":{"#text":"0","fulltrack":"0"},"artist":{"name":"Sabrina
        Carpenter","mbid":"1882fe91-cdd9-49c9-9956-8e06a3810bd4","url":"https://www.last.fm/music/Sabrina+Carpenter"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"}]}],"@attr":{"page":"1","perPage":"1","totalPages":"40941483","total":"40941483"}}}'
  recorded_at: Fri, 18 Jul 2025 07:43:12 GMT
recorded_with: VCR 6.3.1
